body{
    grid-template-columns: 100vw; 
    grid-template-rows: 10vh 10vh 70vh 10vh;
    grid-template-areas:    
    'hd'
    'sec'
    'mn'
    'ft';

    margin: 0;
    height: 100vh;   
}

@font-face {
    font-family: SW-M;
    src: url(/font/Switzer-Medium.otf);
}

@font-face {
    font-family: SW-R;
    src: url(/font/Switzer-Regular.otf);
}

@font-face {
    font-family: outfit;
    src: url(/font/Outfit-VariableFont_wght.ttf);
}

.sizediv{

    height: 120px;
    width: 120px;

}

.sizedivL{

    height: 120px;
    width: 360px;
}

.sizedivS{

    height: 60px;
    width: 120px;
}
#hd-div1{

    position: absolute;
    top: 20px;
    left: 60px;
    background-color:#f2efe7;
    border: dashed #0a0f1e;
}
#hd-div2{
    position: absolute;
    top: 20px;
    right: 60px;
    background-color: #f2efe7;
    border: dashed #0a0f1e;

}

#hd-div3{
    position: absolute;
    background-color: #f2efe7;
    top: 20px;
    right: 200px;
    border: dashed #0a0f1e;

}

#hd-div4{
    position: absolute;
    background-color: #f2efe7;
    top: 20px;
    right: 340px;
    border: dashed #0a0f1e;

}

#hd-Div1{

    background-color: #940002;
    position: absolute;
    top: 10px;
    left: 10px;
}

.hd-nmr{

    position: absolute;
    top: -10px;
    left: 10px;
    font-size: 1.5em;
    color: #2a323f;
}

.hd-t1{
    color: #940002;
    position: absolute;
    top: 15px;
    left: 10px;
}

.hd-t1-2{
    color: #2a323f;
    position: absolute;
    top: 15px;
    left: 10px;
    
}

.hd-t2{
    color: #2a323f;
    position: absolute;
    top: 50px;
    left: 10px;
    font-size: 0.9em;
}




#sc-div1{

    background-color: red;
    position: absolute;
    top: 180px;
    left: 60px;


}

#sc-div2{

    background-color: rgb(74, 148, 213);
    position: absolute;
    top: 180px;
    right: 200px;

}

#sc-div3{

    background-color: aquamarine;
    position: absolute;
    top: 180px;
    right: 60px;

}

#sc-Div1{

    background-color: rebeccapurple;
    position: absolute;
    top: 10px;
    right: 10px;
}

#top-text{

    position: absolute;
    right: 60px;
    bottom: 200px;
    font-size: 6em;
}

#bottom-text{

    position: absolute;
    right: 70px;
    bottom: 280px;
    font-size: 6em;

}

#ft-div1{
    position: absolute;
    background-color: blue;
    bottom: 70px;
    left: 60px;
}

#ft-div2{
    position: absolute;
    background-color: rgb(0, 0, 0);
    bottom: 70px;
    right: 340px;
}

#ft-div3{   
    position: absolute;
    background-color: chocolate;
    bottom: 70px;
    right: 200px;
}

#ft-div4{
    position: absolute;
    background-color: cornflowerblue;
    bottom: 70px;
    right: 60px;
}

#mn-div{

    background-color: #f2efe7;
    position: absolute;
    left: 780px;
    bottom: 235px;
    border: dashed #0a0f1e;
}



img{

    height: 400px;
    position: absolute;
    left: 60px;
}

header{
    display: flex;  
    grid-area: hd;
    background-color: #f2efe7;
    font-family: outfit ;
    height: 15vh;
}

section{

    grid-area: sec;
    height: 20vh;
    background-color: #f2efe7;
}

main{
    display: flex;
    grid-area: mn;
    height: 45vh;
    color: #940002;
    font-family: outfit;
    background-color: #f2efe7;
}

footer{

    grid-area: ft;
    height: 20vh;
    background-color: #f2efe7;
}