body{
    margin: 0;
    grid-template-columns: 100vw; 
    grid-template-rows: 10vh 90vh;
    grid-template-areas:    
    'hd'
    'mn';
    background-size: cover;
    background-image: url(/img/b928b1b4-7b1d-43ba-a9b5-c30bd5d01487.png);

    
    height: 100vh;   
}

@font-face {
    font-family: sigma;
    src: url(/font/royale-couture-sans.otf);
}

@font-face{

    font-family: smegma;
    src: url(/font/Moonscape\ Demo.otf);
}

@font-face{

    font-family: jojo;
    src: url(/font/Concourse\ Regular.otf);
    
    

}   

@font-face{
    font-family: h;
    src: url(/font/GC\ Chief\ Ranced\ Demo.ttf);

}

#pic{

    background-image: url(/img/Cirkle.jpg);
    background-repeat: none;
    background-size: cover;
    position: fixed;
    color: transparent;
    bottom: 20px;
    right: 40px;
    width: 600px;
    height: 700px;
    z-index: 1;
}

#menu{
    display: flex;  
    backdrop-filter: blur(10px);
    justify-content: space-around;
    width: 72vw;
    background-color: rgba(255, 255, 255, 0.47);
    height: 50px;
    color: rgb(195, 187, 187);
    font-family: smega;
    font-size: 5em;
    z-index: 100;

    margin-top: 300px;
}

#bottom{
    background-color: red;
    width: 400px;
    height: 600px;
    transform: rotate(270deg);
    position:absolute;
    left: 100px;
    bottom: 150px;
    z-index: 0;
    color:transparent;
    padding: 30px;


}

#log{

    scale: 0.3;
    opacity: 0.4;
    position: absolute;
    bottom: 55%;
    right: 75%;
    z-index: 10000;
}

#age{
    color: (195, 187, 187);
   font-family: sigma;
   font-size: 1.5em;
   position: absolute;
   left: 47%;
   top: 20px;

}

#logo{
    display: flex;
    color:black;
    font-family: smega ;
    font-weight: 900;
    font-size: 2.5em;
    opacity: 0.5;
    position: absolute;
    bottom: 85%;
    right: 72.5%;
}



a{

    text-decoration: none;
    color: rgb(0, 0, 0);
}

h3{
    z-index: 1000;
    margin-top: -5px;
    font-family: smegma;
    

}
header{
    display: flex;
    grid-area: hd;
    height: 10vh;
    background-color: transparent;
    align-items: center;
    color: rgb(195, 187, 187);
}

main{
    background-repeat: none;
    background-size:cover;
    background-position: center;
    display: flex;
    z-index: 0;
    grid-area: mn;
    height: 90vh;

}